body{
    background-color: wheat;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border: 2px solid black;
    box-shadow:5px 8px 13px aqua;
    width: 600px;
    background-color: white;
}


.rock{
    border-radius: 110px;
    width: 150px;
    height: 120px;
    margin-right: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: x-large;
    background-color:cadetblue;
    box-shadow:5px 8px 13px black;
    color: white;
}
.papper{
    border-radius: 110px;
    width: 150px;
    height: 120px;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: x-large;
    background-color: blue;
    box-shadow:5px 8px 13px greenyellow;
    color: white;
}
.scissors{
    border-radius: 110px;
    width: 150px;
    height: 120px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: x-large;
    background-color: green;
    box-shadow:5px 8px 13px yellow;
    color: white;
}


.main-section{
    display: flex;
}
.hide{
    visibility: hidden;
}
.user{
    display: inline;
    margin-left: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color:darkgreen;
}
.comp{
    display: inline;
    margin-left: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: darkred;
}
.draw-div{
    display: inline;
    margin-left: 350px;
}
#user-score{
    padding-left: 60px;
    text-align: center;
    font-size: 2rem;
    color:darkgreen;
}
#win-status-user{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    color:green;
    width:400px;
    height: 800px;
}

#draw{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}
#comp-score{
    padding-left: 90px;
    text-align: center;
    font-size: 2rem;
    color: darkred;
}
#win-status-computer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
    width: 400px;
    height: 800px;
}

#computer-select{
    margin-left: 450px;
    font-family:cursive;
    font-weight: bolder;
    font-size: xx-large;
    color: red;
}


#reset-game{
    
    margin-left: 45%;
    width: 150px;
    height: 60px;
    background-color: red;
    color: white;
    font-size:large;
    box-shadow: 3px 3px 3px black;
}



